<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="QuantumLeap Suite">
    <test name="UI Tests">
        <packages>
            <package name="quantumleap.ui_tests"/>
        </packages>
    </test>

    <test name="API Tests">
        <packages>
            <package name="quantumleap.api_tests"/>
        </packages>
    </test>
</suite>
